
Create a new view in StoreAdminController called orders with an h2 that says "Welcome to Flatiron Open Orders". Also add an ol with a few li elements containing fake orders.

<h2>Welcome to Flatiron Open Orders</h2>
<ol>
  <li></li>
  <li></li>
  <li></li>
</ol>